body {
    background: white;
}

a {
    color: #fff;
}

ul.navbar-nav li a {
    font-size: 10px;
    line-height: 10px;
    padding: 20px !important;
}

ul.navbar-nav li a:hover {
    color: #0da7a3;
}

ul.navbar-nav li.active a,
ul.navbar-nav li a:hover {
    text-decoration: underline;
}

ul.navbar-nav li:last-child a {
    padding-right: 0 !important;
}

header #top-header {
    background-color: #568a35;
}

header #top-header h6 {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0;
    padding: 5px;
}

header #main-header {
    background-color: #7db249;
    padding: 0px;
}

#shawol-one {
    height: 300px;
    background: url("../img/main-bg.jpg");
    background-position: center;
    background-size: cover;
}

#shawol-two {
    height: 300px;
    background: url("../img/bg2.jpg");
    background-position: center;
    background-size: cover;
}

#shawol-two {
    height: 200px;
}

#shawol-four {
    height: 300px;
    background: url("../img/bg-wigth-glasssss.jpg");
    background-position: center;
    background-size: cover;
}

#shawol-five a {
    color: #000;
}

.footer #main-footer h4 {
    color: #90c43e;
}

.footer #down-footer {
    background: #90c43e;
}

.footer #down-footer h6 {
    font-size: 10px;
    line-height: 14px;
}